@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-mandiri-blue: #003d79;
  --color-mandiri-dark: #002D5C;
  --color-mandiri-gold: #FF9E1B;
}

:root {
  --background: #eef4f9;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-tap-highlight-color: transparent;
}

.security-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 12px;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 77, 153, 0.05),
    rgba(0, 77, 153, 0.05) 10px,
    rgba(255, 158, 27, 0.05) 10px,
    rgba(255, 158, 27, 0.05) 20px
  );
  pointer-events: none;
  z-index: 50;
}

input::placeholder {
  color: #9ca3af;
}
